body {
  background-color: rgb(236, 228, 228);
  margin: 0px;
  padding: 0px;
}

.mainCont {
  display: flex;
  justify-content: flex-start;
}

.countPick_cont {
  width: 320px;
}

.heading {
  line-height: 30px;
  width: 270px;
  background-color: white;
  padding: 20px;
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 20px;
  display: flex;
}

.heading h1 {
  font-size: 40px;
  font-weight: 1500;
  word-spacing: 5px;
}

.heading img {
  padding-top: 10px;
}

.heading h1 span {
  font-size: 15px;
}

.searchBar {
  width: 270px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  border-radius: 0px 20px 20px 0px;
}

.searchBar input {
  padding: 10px;
  border-radius: 30px;
  width: 220px;
  outline: none;
  background-color: rgb(236, 228, 228);
  border: none;
  margin-bottom: 10px;
}

.searchBar li {
  list-style: none;
  padding: 10px;
}

.mainBorder{
    display: flex;
    flex-direction: column;
}

.lastUpdate{
    float: right;   
}

.borderCont {
  margin-top: 50px;
  margin-left: 80px;
  display: flex;
  justify-content: space-around;
}

.borderBox {
  width: 250px;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  background-color: #598ea5;
  border-radius: 20px;
  box-shadow: -2px 4px 26px 5px rgba(0,0,0,0.3);}

.borderBox h3{
    font-weight: 400;
}

.confirmed{
    background-color: #598ea5;
    color: white;

}

.recovered {
    background-color: white;


}

.recovered h1{
    color: burlywood;
}

.recovered h3{
    font-weight: 500;
    font-size: 22px;
}

.deaths{
    background-color: white;


}

.deaths h1{
    color: rgb(211, 75, 75);
    font-weight: 800;
}

.deaths h3{
    font-size: 22px;

}
